
<section class="experience section-padding">
    {%- include skills.html -%}
    <div class="container section-margin">
        
        <h3 class="experience-title">Experience</h3>
        
        <div class="experience-wrapper">
            <div class="company-wrapper">
                <div class="experience-title">Customer Engineer Full - Time</div>
                <div class="time">February 2022 - February 2025</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Customer Engineer - NCR</div>
                <div class="company-description">
                    <p>Technical support, troubleshooting, and maintenance of self-service financial access solutions. This role involves
                    collaborating with customers to ensure smooth operation of ATMs and self-service kiosks.</p>
                    <p>Work on medium-to-high complexity products and services; Hardware maintenance, installation, network administration,
                    multi-vendor maintenance, and software support.</p>
                    <p>Take responsibility for all customer problems/needs that are expressed or observed and act appropriately.</p>
                    <p><i class="nf nf-md-web"></i> <a href="https://www.ncratleos.com/" target="_blank">ncratleos.com</a></p>
                </div>
            </div>

            <div class="company-wrapper">
                <div class="experience-title">Python Developer - Full Time</div>
                <div class="time">June 2013 - February 2022</div>
            </div>
            
            <div class="job-wrapper">
                <div class="experience-title">Pyton Developer | Software Engineer</div>
                <div class="company-description">
                    <p>Backend. API development [RESTful, SOAP], integration, authentication [JWT, OAuth].</p>
                    <p>Integration of data into web applications, blogs, and e-commerce.</p>
                    <p>Cross-platform desktop software and scripts. Automation scripts.</p>
                </div>
            </div>

            <div class="company-wrapper">
                <div class="experience-title">Web Developer - Part Time</div>
                <div class="time">June 2012 - February 2014</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Development of websites and web applications.</div>
                <div class="company-description">
                    <p>Development, construction and maintenance of static, dynamic and responsive websites.</p>
                    <p>Deployment and maintenance of webs apps on servers, VPS, and cloud services.</p>
                </div>
            </div>

            <div class="company-wrapper">
                <div class="experience-title">Technical Support - Part Time</div>
                <div class="time">October 2006 - August 2013</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Networks and Technical Support - Freelance</div>
                <div class="company-description">
                    <p>Assembly, maintenance and repair of computer equipment (Software / Hardware). Construction and
                        maintenance of wired and wireless networks.</p>
                </div>
            </div>

            <div class="company-wrapper">
                <div class="experience-title">Teaching - Part Time</div>
                <div class="time">March 2011 - February 2022</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Teaching IT - Freelance</div>
                <div class="company-description">
                    <p>Basic Computer Science (Hardware / Software). Use of office suites. Use of IT in teaching.</p>
                </div>
            </div>

        </div>

        <!-- <div class="section-wrapper">
            <h3 class="section-title">Hobbies</h3>
            <p>Among my most prominent hobbies are soccer, video games and music, more specifically playing the guitar
                since I was 10 years old.</p>
            <p>On the other hand, I have educational studies, specifically in Language and Literature. I am very
                passionate about reading and good film stories.</p>
        </div> -->
</section>