<section class="experience section-padding">
    <div class="container">
        <h3 class="experience-title">Experience</h3>

        <div class="experience-wrapper">
            <div class="company-wrapper">
                <div class="experience-title">Customer Engineer Full - Time</div>
                <div class="time">February 2022 - Present</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Customer Engineer - NCR</div>
                <div class="company-description">
                    <p>On-site support and solutions, on software and hardware, for some of the most important clients
                        in the financial and retail sectors.</p>
                    <p><i class="nf nf-md-web"></i> <a href="https://www.ncratleos.com/" target="_blank">ncratleos.com</a></p>
                </div>
            </div>

            <div class="company-wrapper">
                <div class="experience-title">Developer - Full Time</div>
                <div class="time">June 2015 - February 2022</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Development of websites and web applications.</div>
                <div class="company-description">
                    <p>Development, construction and maintenance of static, dynamic and responsive websites.</p>
                    <p>Deployment and maintenance of webs apps on servers, VPS, and cloud services.</p>
                </div>
            </div>

            <div class="company-wrapper">
                <div class="experience-title">Developer - Full Time</div>
                <div class="time">January 2017 - November 2021</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Python Developer</div>
                <div class="company-description">
                    <p>Development of scripts for automation and scraping.</p>
                    <p>Building cross-platform desktop applications (Windows/Linux).</p>
                    <!-- JOB DESCRIPTION  -->
                </div>
            </div>

            <div class="company-wrapper">
                <div class="experience-title">Technical Support - Part Time</div>
                <div class="time">October 2010 - August 2019</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Networks and Technical Support - Freelance</div>
                <div class="company-description">
                    <p>Assembly, maintenance and repair of computer equipment (Software / Hardware). Construction and
                        maintenance of wired and wireless networks.</p>
                </div>
            </div>

            <div class="company-wrapper">
                <div class="experience-title">Teaching - Part Time</div>
                <div class="time">March 2011 - February 2022</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Teaching IT - Freelance</div>
                <div class="company-description">
                    <p>Basic Computer Science (Hardware / Software). Use of office suites. Use of IT in teaching.</p>
                </div>
            </div>

        </div>
        <!--Skill experience-->
        {%- include skills.html -%}

        <div class="section-wrapper">
            <h3 class="section-title">Hobbies</h3>
            <p>Among my most prominent hobbies are soccer, video games and music, more specifically playing the guitar
                since I was 10 years old.</p>
            <p>On the other hand, I have educational studies, specifically in Language and Literature. I am very
                passionate about reading and good film stories.</p>
        </div>
</section>