<section class="experience section-padding">
    {%- include skills.html -%}
    <div class="container section-margin">
        
        <h3 class="experience-title">Desarrollo Laboral</h3>
        <div class="experience-wrapper">
            <div class="company-wrapper ">
                <div class="experience-title">Ingeniero de Campo - Tiempo Completo</div>
                <div class="time">Febrero 2022 - Febreo 2025</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Ingeniero de Campo - NCR</div>
                <div class="company-description">
                    <p>Soporte técnico, resolución de problemas y mantenimiento de soluciones de acceso financiero de autoservicio. Esta
                    función implica colaborar con los clientes para garantizar el correcto funcionamiento de los cajeros automáticos y
                    quioscos de autoservicio.</p>
                    <p>Trabajar en productos y servicios de complejidad media-alta: mantenimiento de hardware, instalación, administración de
                    red, mantenimiento de múltiples proveedores y soporte de software.</p>
                    <p>Asumir la responsabilidad de todos los problemas o necesidades de los clientes que se manifiesten o se observen y actuar
                    en consecuencia.</p>
                    <p><i class="nf nf-md-web"></i> <a href="https://www.ncratleos.com/" target="_blank">ncratleos.com</a></p>
                </div>
            </div>

            <div class="company-wrapper ">
                <div class="experience-title">Desarrollador Python - Tiempo Completo</div>
                <div class="time">Junio 2013 - Febrero 2022</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Desarrollador Python | Ingeniero de software</div>
                <div class="company-description">
                    <p>Backend. Desarrollo de API [RESTful, SOAP], integración, autenticación [JWT, OAuth].</p>
                    <p>Integración de datos en aplicaciones web, blogs y comercio electrónico.</p>
                    <p>Software y scripts de escritorio multiplataforma. Scripts de automatización.</p>
                </div>
            </div>

            <div class="company-wrapper">
                <div class="experience-title">Desarrollador Web - Medio Tiempo</div>
                <div class="time">Junio 2012 - Febrero 2014</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Desarrollo de sitios y aplicaciones web.</div>
                <div class="company-description">
                    <p>Desarrollo, construcción y mantenimiento de sitios web estáticos, dinámicos y responsivos.</p>
                    <p>Implementación y mantenimiento de aplicaciones web en servidores, VPS y servicios en la nube.</p>
                </div>
            </div>

            <div class="company-wrapper">
                <div class="experience-title">Soporte Técnico - Medio Tiempo</div>
                <div class="time">Octubre 2006 - Agosto 2013</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Redes y Soporte Técnico - Autónomo</div>
                <div class="company-description">
                    <p>Ensamblado, mantenimiento y reparación de equipos informáticos (Software/Hardware). Construcción y
                        mantenemiento de redes cableadas e inalámbricas.</p>
                </div>
            </div>

            <div class="company-wrapper">
                <div class="experience-title">Docencia - Medio Tiempo</div>
                <div class="time">Marzo 2011 - Febrero 2022</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Enseñanza IT - Autónomo</div>
                <div class="company-description">
                    <p>Informática Básica (Hardware/Software). Uso de paquetes de ofimática. Utilización de IT en la
                        docencia.</p>
                </div>
            </div>

        </div>

        <!-- <div class="section-wrapper">
            <h3 class="section-title">Pasatiempos</h3>
            <p>Entre mis pasatiempos más destacados se encuentran el fútbol, los videojuegos y la música, más
                especificamente la ejecución de la guitarra desde los 10 años.</p>
            <p>Por otra parte, tengo estudios docentes, especificamente en Lengua y Literatura. Me apasiona mucho la
                lectura y las buenas historias del cine.</p>
        </div> -->
</section>