<section class="experience section-padding">
    {%- include skills.html -%}
    <div class="container section-margin">
        
        <h3 class="experience-title">Desarrollo Laboral</h3>
        <div class="experience-wrapper">
            <div class="company-wrapper ">
                <div class="experience-title">Ingeniero de Campo - Tiempo Completo</div>
                <div class="time">Febrero 2022 - Presente</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Ingeniero de Campo - NCR</div>
                <div class="company-description">
                    <p>Atención y soluciones en sitio, sobre software y hardware, para algunos de los clientes más
                        importantes de los sectores financieros y de ventas.</p>
                    <p><i class="nf nf-md-web"></i> <a href="https://www.ncratleos.com/" target="_blank">ncratleos.com</a></p>
                </div>
            </div>

            <div class="company-wrapper ">
                <div class="experience-title">Desarrollador - Tiempo Completo</div>
                <div class="time">Junio 2015 - Febrero 2022</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Desarrollo de sitios web y aplicaciones web.</div>
                <div class="company-description">
                    <p>Desarrollo, construcción y mantenimiento de sitios web estáticos, dinámicos y responsivos.</p>
                    <p>Implementación y mantenimiento de aplicaciones web en servidores, VPS y servicios en la nube.</p>
                </div>
            </div>

            <div class="company-wrapper">
                <div class="experience-title">Desarrollador - Tiempo Completo</div>
                <div class="time">Enero 2017 - Noviembre 2021</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Desarrollador Python</div>
                <div class="company-description">
                    <p>Desarrollo de scripts para automatización y scraping.</p>
                    <p>Creación de aplicaciones de escritorio multiplataforma (Windows/Linux).</p>
                </div>
            </div>

            <div class="company-wrapper">
                <div class="experience-title">Soporte Técnico - Medio Tiempo</div>
                <div class="time">Octubre 2010 - Agosto 2019</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Redes y Soporte Técnico - Autónomo</div>
                <div class="company-description">
                    <p>Ensamblado, mantenimiento y reparación de equipos informáticos (Software/Hardware). Construcción y
                        mantenemiento de redes cableadas e inalámbricas.</p>
                </div>
            </div>

            <div class="company-wrapper">
                <div class="experience-title">Docencia - Medio Tiempo</div>
                <div class="time">Marzo 2011 - Febrero 2022</div>
            </div>

            <div class="job-wrapper">
                <div class="experience-title">Enseñanza IT - Autónomo</div>
                <div class="company-description">
                    <p>Informática Básica (Hardware/Software). Uso de paquetes de ofimática. Utilización de IT en la
                        docencia.</p>
                </div>
            </div>

        </div>

        <!-- <div class="section-wrapper">
            <h3 class="section-title">Pasatiempos</h3>
            <p>Entre mis pasatiempos más destacados se encuentran el fútbol, los videojuegos y la música, más
                especificamente la ejecución de la guitarra desde los 10 años.</p>
            <p>Por otra parte, tengo estudios docentes, especificamente en Lengua y Literatura. Me apasiona mucho la
                lectura y las buenas historias del cine.</p>
        </div> -->
</section>