<footer class="footer">
  <p>Marco Romero © {{ "now" | date: "%Y" }} - <a href="https://mariosmaselli.com/" target="_blank" rel="noopener" aria-label="Mario website">Based on design by Mario Maselli</a></p>
  <!-- https://codepen.io/mariosmaselli/details/CDcmb -->
</footer>
<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/7b4b46f24e.js" crossorigin="anonymous"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script src="{{site.url}}/assets/js/main.js"></script>
<script src="{{site.url}}/assets/js/email.js"></script>
