<header>
  <div class="sidebar bar-block card sidebar-init sidebar-hide animate-right" id="mySidebar">
    <button id="cbutton" class="bar-item button large">Cerrar <i class="far fa-times-circle"></i></button>
    <a href="/" id="btHome" class="bar-item button"><i class="fas fa-user"></i> Inicio</a>
    <a href="/portfolio" id="btPortfolio" class="bar-item button"><i class="fas fa-suitcase"></i> Portfolio</a>
    <!--a href="#" class="bar-item button"><i class="fas fa-user"></i> Curriculum Vitae</a-->
    <a href="/blog" id="btBlog" class="bar-item button"><i class="fas fa-terminal"></i> Blog</a>
    <a href="/contact" id="btContact" class="bar-item button"><i class="fas fa-phone-alt"></i> Contacto</a>
  </div>
  <div class="burguer-bar">
    <button id="bbutton" class="button xlarge"><i class="fas fa-bars"></i></button>
  </div>
</header>
