<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- <title>Marco Romero | Desarrollador Web | Python</title> -->
  <meta name="description" content="{{ site.description }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/assets/images/favicon.ico">
  <link rel="stylesheet" href="{{site.url}}/assets/css/normalize.css">
  <link rel="stylesheet" href="{{site.url}}/assets/css/custom.css">
  <link rel="stylesheet" href="/assets/css/murphy-custom.css">

  {% feed_meta %}
  {% seo %}
</head>
