<!--Skill experience-->
<div class="section-wrapper">
    <h3 class="section-title">Habilidades</h3>
    <ul>
        <li class="skill-percentage">HTML / HTML5</li>
        <li class="skill-percentage">CSS / CSS3</li>
        <li class="skill-percentage">JavaScript</li>
        <li class="skill-percentage">Python 3</li>
        <li class="skill-percentage">Django</li>
        <li class="skill-percentage">PHP</li>
    </ul>
</div>
<div class="section-wrapper languages">
    <h3 class="section-title">Idiomas</h3>
    <ul>
        <li class="lang-percentage">Español</li>
        <li class="lang-percentage">Inglés</li>
        <li class="lang-percentage">Italiano</li>
    </ul>
</div>