<section class="profile section-padding">
  <div class="container">

    <div class="flex-content picture-name">
      <div class="picture-resume-wrapper">
        <div class="picture-resume">
          <span><img src="assets/images/perfil00.jpg" alt="" ></span>
        </div>
      </div>
      <div class="name-wrapper">
        <h1>Marco <br>Romero</h1>
      </div>
    </div>


    <div class="contact-presentation">
      <!-- YOUR PRESENTATION RESUME  -->
      <p><span class="bold">Soy</span> un desarrollador autodidacta, con varias habilidades en el área técnica, tanto electrónica como informática, las cuales he complementado con capacitación pedagógica y en comunicación. </p>
      <p>El continuo desarrollo y aprendizaje, en el área BackEnd y la educación, son mis marcas distintivas.</p>
    </div>
    <div class="flex-content contact-info">
      <ul class="list-titles">
        <li><i class="fas fa-user"> </i> Nombre</li>
        <li><i class="fas fa-mobile-alt"> </i> Celular</li>
        <li><i class="fas fa-at"> </i> e-mail</li>
        <li><i class="fas fa-globe"> </i> Web</li>
        <li><i class="fas fa-map-marker-alt"> </i> Ubicación</li>
      </ul>
      <ul class="list-content ">
        <li>Marco Antonio Romero Torrez</li>
        <li>+54 280 484 2576</li>
        <li><a href="mailto:marcoromero_1@hotmail.com">marcoromero_1@hotmail.com</a></li>
        <li><a href="">marcoromero.com.ar</a></li>
        <li>Puerto Madryn, Chubut - Argentina</li>
      </ul>
    </div>
    <div class="contact-social">
      <a class="fa-social" href="https://www.linkedin.com/in/marco-romero-at/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a class="fa-social" href="https://github.com/Darkfoe703" target="_blank"><i class="fab fa-github-square"></i></a>
      <a class="fa-social" href="https://instagram.com/Darkfoe703" target="_blank"><i class="fab fa-instagram-square"></i></a>
    </div>
  </div>
</section>
