<section class="profile section-padding">
  <div class="container">

    <div class="flex-content picture-name">
      <div class="picture-resume-wrapper">
        <div class="picture-resume">
          <span><img src="{{site.url}}/assets/images/perfil01.webp" alt="Marco Antonio Romero" title="Marco Antonio Romero" width="201" height="201"></span>
        </div>
      </div>
      <div class="name-wrapper">
        <h1>Marco <br>Romero</h1>
      </div>
    </div>


    <div class="contact-presentation">
      <!-- YOUR PRESENTATION RESUME  -->
      <p><span class="bold">¡Hola!</span> Soy un desarrollador de software con sólida formación en desarrollo y experiencia en diversas áreas técnicas. Complemento mis
      habilidades técnicas con estudios en docencia, lo que ha potenciado mi capacidad para comunicar conceptos complejos de
      manera clara y efectiva, así como para colaborar en entornos dinámicos.</p>
      <p>Cuento con una trayectoria demostrada en la resolución de problemas y la gestión de incidencias, aplicando un enfoque
      metódico y orientado a resultados. Me adapto rápidamente a nuevas tecnologías y metodologías, manteniéndome al día con
      las tendencias del sector para ofrecer soluciones innovadoras y eficientes.</p>
    </div>
    <div class="flex-content contact-info">
      <ul class="list-titles">
        <li><i class="fas fa-user"> </i> Nombre</li>
        <li><i class="fas fa-mobile-alt"> </i> Celular</li>
        <li><i class="fas fa-at"> </i> e-mail</li>
        <li><i class="fas fa-globe"> </i> Web</li>
        <li><i class="fas fa-map-marker-alt"> </i> Ubicación</li>
      </ul>
      <ul class="list-content ">
        <li>Marco Antonio Romero Torrez</li>
        <li>+54 280 484 2576</li>
        <li><a href="mailto:{{site.email}}" aria-label="Mi email" title="Mi email">marcoromero_1@hotmail.com</a></li>
        <li><a href="https://marcoromero.com.ar" aria-label="Mi sitio web" title="Mi sitio web">marcoromero.com.ar</a></li>
        <li>Puerto Madryn, Chubut - Argentina</li>
      </ul>
    </div>
    <div class="contact-social">
      <a class="fa-social" href="https://www.linkedin.com/in/marco-romero-at/" target="_blank" aria-label="enlace a LinkedIn" title="link to LinkedIn" rel="noopener"><i class="fab fa-linkedin"></i></a>
      <a class="fa-social" href="https://github.com/Darkfoe703" target="_blank" aria-label="enlace a GitHub" title="link to GitHub" rel="noopener"><i class="fab fa-github-square"></i></a>
      <a class="fa-social" href="https://instagram.com/Darkfoe703" target="_blank" aria-label="enlace a Instagram" title="link to Instagram" rel="noopener"><i class="fab fa-instagram-square"></i></a>
    </div>
  </div>
</section>
