<section class="profile section-padding">
  <div class="container">

    <div class="flex-content picture-name">
      <div class="picture-resume-wrapper">
        <div class="picture-resume">
          <span><img src="{{site.url}}/assets/images/perfil01.webp" alt="Marco Antonio Romero" title="Marco Antonio Romero" width="201" height="201"></span>
        </div>
      </div>
      <div class="name-wrapper">
        <h1>Marco <br>Romero</h1>
      </div>
    </div>


    <div class="contact-presentation">
      <!-- YOUR PRESENTATION RESUME  -->
      <p><span class="bold">Hi!</span> I am a software developer with a solid development background and experience in various technical areas. I complement my
      technical skills with studies in teaching, which has enhanced my ability to communicate complex concepts clearly and
      effectively, as well as to collaborate in dynamic environments.</p>
      <p>I have a proven track record in problem solving and incident management, applying a methodical and results-oriented
      approach. I quickly adapt to new technologies and methodologies, keeping up with industry trends to deliver innovative
      and efficient solutions.</p>
    </div>
    <div class="flex-content contact-info">
      <ul class="list-titles">
        <li><i class="fas fa-user"> </i> Name</li>
        <li><i class="fas fa-mobile-alt"> </i> Phone</li>
        <li><i class="fas fa-at"> </i> e-mail</li>
        <li><i class="fas fa-globe"> </i> Web</li>
        <li><i class="fas fa-map-marker-alt"> </i> Home</li>
      </ul>
      <ul class="list-content ">
        <li>Marco Antonio Romero Torrez</li>
        <li>+54 280 484 2576</li>
        <li><a href="mailto:{{site.email}}" aria-label="My email" title="My email">{{site.email}}</a></li>
        <li><a href="https://marcoromero.com.ar" aria-label="My website" title="My website">marcoromero.com.ar</a></li>
        <li>Puerto Madryn, Chubut - Argentina</li>
      </ul>
    </div>
    <div class="contact-social">
      <a class="fa-social" href="https://www.linkedin.com/in/marco-romero-at/" target="_blank"  title="link to LinkedIn" aria-label="link to LinkedIn" rel="noopener"><i class="fab fa-linkedin"></i></a>
      <a class="fa-social" href="https://github.com/Darkfoe703" target="_blank"  title="link to GitHub" aria-label="link to GitHub" rel="noopener"><i class="fab fa-github-square"></i></a>
      <a class="fa-social" href="https://instagram.com/Darkfoe703" target="_blank"  title="link to Instagram" aria-label="link to Instagram" rel="noopener"><i class="fab fa-instagram-square"></i></a>
    </div>
  </div>
</section>
