<div class="section-margin">
    <h3 class="experience-title">Soft Skills</h3>
    <ul class="soft-skill-board">
        <li class="soft-skill"><i class="nf nf-fa-people_carry_box"></i> Teamwork</li>
        <li class="soft-skill"><i class="nf nf-md-tools"></i> Problem Solving</li>
        <li class="soft-skill"><i class="nf nf-md-book_edit_outline"></i> Documentation</li>
        <li class="soft-skill"><i class="nf nf-md-clipboard_check_outline"></i> Management of incidents</li>
        <li class="soft-skill"><i class="nf nf-md-timer_check_outline"></i> Time Manegement</li>
    </ul>
</div>